/* mengatur warna backgroud dan padding pada tag body bagian atas agar form tidak menempel diatas */
body{
    background-image: url("../form/bg.png");
    padding-top: 10vh;  
}
 
/* mengatur warna backgroud form */
form{
    background: #fff;
}
 
/* mengatur border dan padding class form-container */
.form-container{
    border-radius: 10px;
    padding: 30px;
}